:root {
    --primaryColor: #black;
    --primaryFont: "Assistant"
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
	box-sizing: border-box;
}

body{
	font-family: var(--primaryFont);
	background: #fff;
	padding: 50px;	
}

input{
	font-family: var(--primaryFont);
}

.container{
	width: 100%;
	margin-top: 25px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.row{
	width: 100%;
	max-width: 950px;
	min-width: 270px;
	display: flex;
	margin: 0 0 20px 0;
}
.addcity_div{
	flex-direction: column;
}

.addcity_div div{
	display: flex;
	flex-direction: row;
	margin: 0;
}

.addcity_div input{
	border-radius: .125rem;
	border: none;
	
}

.addcity_div input[type=text]{
	width: calc(100% - 50px);
	background-color: #fff;
	color: #42454e;
	border-bottom: solid 1px #949494;
	font-size: 22px;
}

.addcity_div input[type=submit]{
	width: 50px;
	cursor: pointer;
	font-weight: bold;
	color: #000;
	border-bottom: solid 1px #949494;
}

